*{
    margin: 0;
}

body{
    background-color: crimson;
    color: white;
    text-align: center;
}

nav{
    height: 100px;
}

ul, nav{
    background-color: gold;
}

h1{
    font-family:'Courier New', Courier, monospace;
    font-size: 55px;
}

h2{
    text-decoration: underline;
}

p{
    font-size: 20px;
    margin-inline: 50px;
}

.pFooter{
    padding: 75px;
}

/* index */

.imgIndex{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.imagenesDeCarrusel{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    overflow-x: auto;
    overflow-y: hidden;
    position: sticky;
    bottom: 0;
    z-index: 0;
}

.imagenesDeCarrusel > div{
    text-align: center;
    padding: 0;
    width: 400%;
    align-items: stretch;
}
    
#indexMain{
    position:relative;
    background: url(../img/Matisse2.jpg);
    height: 0px;
    width: 100%;
    padding-top: 90vh;
}

#innerMain{
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.534);
}

main{
    position: static;
    width: 100%;
    z-index: 1;
}

#pFooter{
    display: none;
}

/* obras */

.fig{
    font-style: italic;
    font-size: smaller;
}

.nosotros{
    background-image: url(../img/Tríptico.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height:108vh;
}

.imgObras{
    width: 70%;
}

.left{
    order: 2;
}

.right{
    order: 1;
}

.articleObra{
    position: sticky;
    top: 100px;
}

/* mapa */

.museos{
    margin-block: 100px;
}

.imgMapa{
    width: 80vw;
}

/* contacto */

.error{
    color: red;
    font-size: 1em;
    display: block;
    margin-block: 10px;
}

form{
    background-color:white;
    width:90%;
    margin: auto;
    color: black;
    text-align: start;
    padding: 10%;
    height: auto;
}
input, textarea{
    width: 80%;
    margin-block: 5px;
}



textarea{
    height: 100px;
}

label{
    display: block;
    margin-block: 10px;
}

/* Formularios */

#forms{
    display: flex;
    justify-content: space-evenly;
    padding-top: 190px;
}